#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

JAVA_HOME=/usr/lib/jvm/default-java/

%:
	dh $@ --with javahelper

override_dh_auto_build:
	 dh_auto_build
	 ( test -d ./debian/lib_managed && mv ./debian/lib_managed . ) || true
	 ./debian/sbt juicer-web/assembly
	 cp juicer-web/target/scala-2.9.1/juicer-web-assembly-1.0.jar debian/juicer-server.jar

override_dh_auto_test:
	 dh_auto_test
	 ( test -d ./debian/lib_managed && mv ./debian/lib_managed . ) || true
	 ./debian/sbt test

