<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

  <servlet>
    <servlet-name>api</servlet-name>
    <servlet-class>net.matthaynes.ner.controller.ApiController</servlet-class>
    <init-param>
      <description>Scalatra env</description>
      <param-name>org.scalatra.environment</param-name>
      <param-value>production</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>api</servlet-name>
    <url-pattern>/api/*</url-pattern>
  </servlet-mapping>

</web-app>

